body, html {
    margin: 0;
}

.scoreboard {
    display: flex;
    background: #1B244A;
    width: 1200px;
    height: 440px;
    margin: 100px auto; 
    text-align: center;
    border-radius: 10px;
}

.main-container {
    display: flex;
    justify-content: space-around;
    width: 580px;
    height: 350px;
}

.team-container {
    text-align: center;
    margin: 30px 50px;
    color: #EEEEEE;
}

.title {
    font-size: 40px;
    font-family: "Arimo", sans-serif;
    font-weight: 700;
    margin: 0 0 20px;
}

.score {
    font-family: 'Cursed Timer ULiL', sans-serif;
    width: 150px;
    height: 120px;
    font-size: 90px;  
    margin: 0 0 25px 0;    
    background: #080001;
    border-radius: 5px; 
    padding: 30px 15px 0;  
    color: #F94F6D;                           
}

.button-container {
    font-family: 'Cursed Timer ULiL', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 45px;
}

button {
    background: #1B244A;
    font-size: 18px;
    width: 45px;
    height: 45px;
    border: 3px solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
}

.sub-container {
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.additional-btn {
    width: 120px;
    height: 50px;
}

#score-summary {
    color: #FFFFFF;
    margin: 60px auto;
    height: 250px;
}

li {
    font-family: 'Cursed Timer ULiL', sans-serif;
    padding: 5px;
    font-size:20px;
    margin: 5px;
}

#final-score {
    font-size: 40px;
    color: goldenrod;
}

